*{
    margin:0%
  }
  body{
    background:#2CB3F3;
  }
  section{
    background:gray;
    position:relative; 
  }
  h1{
    font-size:40px;
    position:absolute;
    top:50px;
    left:550px;
  }
  .dedy1{
    font-size:20px;
    margin:50px 0px 0px 30px;
    position:absolute;
    top:110px;
     left:450px;
    text-align:center;
  }
  
  main{
    width:600px;
    height:430px;
    background:white;
    position:relative;
    top:200px;
    left:360px;
    border-radius:50px 50px 0px 0px;
  }
  .rosto{
    width:500px;
    height:300px;
    background:#FFE1C9;
    border-radius:90%;
    position:relative;
    left:55px;
    top:80px;
  }
  footer{
    width:50px;
    height:50px;
  }
  .olho{
    width:50px;
    height:50px;
    background:black;
    position:absolute;
    border-radius:100%;
    left:550px;
    top:360px;
    border:2px solid black;
  }
  .olho2{
    width:50px;
    height:50px;
    background:black;
    position:absolute;
    border-radius:100%;
    left:740px;
    top:360px;
    border:2px solid black;
  }
  form{
    position:relative;
    left:575px;
    top:30px;
  }
  button{
    position:relative;
    left:595px;
    top:180px;
    font-size:20px;
    color:white;
    background:green;
  }
  .dedy5{
    position:absolute;
    color:#CCCCCC;
  }
  .dedy6{
    position:absolute;
    color:#CCCCCC;
  }